---
layout: default
title: Giới thiệu CloudVis
permalink: /gioi-thieu-cloudvis/
redirect_from:
  - /about/gioi-thieu/
  - /about-us/
---

<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li class="active">
              <a  href="javascript:void(0);" class="first">
                Giới Thiệu
                <small>Về CloudVis</small>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            <li>
              <a href="{{site.url}}/lien-he">
                Liên Hệ
                <small>Cùng nhau hợp tác</small>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <h3 class="title-divider">
          <span>Tầm nhìn</span>
        </h3>
        <div>
          <img src="/img/vision.png" atl="cloud hosting provider" class="img-responsive" style="margin: auto auto;">
        </div>

        <p>Tầm nhìn của chúng tôi là trở thành công ty hàng đầu trong lĩnh vực điện toán đám mây. Mục tiêu của chúng tôi là đơn giản hóa việc triển khai hạ tầng/ứng dụng IT nhằm giảm chi phí & tăng lợi nhuận cho các khách hàng. Các sản phẩm chính bao gồm: hạ tầng IT như là dịch vụ (Infrastructure as a Service), nền tảng phát triển ứng dụng (Cloud Application Platform) và phần mềm (Software as a Service).</p>
        <h3 class="title-divider">
          <span>Con người</span>
        </h3>
        <p>
          Với đội ngũ nhân lực trẻ, tài năng & nhiều năm kinh nghiệm trong lĩnh vực điện toán đám mây, chúng tôi không ngừng nghiên cứu, áp dụng và tối ưu những công nghệ tiên tiến nhằm phát triển những sản phẩm tốt nhất.

          <p>Bạn muốn tham gia cùng CloudVis?</p>

          <p>Liên lạc với chúng tôi ngay bây giờ: <a href="mailto:careers@cloudvis.vn">careers@cloudvis.vn</a></p>
        </p>
      </div>
    </div>
  </div>
</div>