---
layout: default
title: Chương trình đại lý Cloud Hosting
permalink: /chuong-trinh-dai-ly/
redirect_from:
  - /reseller/chuong-trinh-dai-ly/
---

<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="section-menu">
          <ul class="nav nav-list">
            <li>
              <a href="{{site.url}}/gioi-thieu-cloudvis" class="first">
                Giới Thiệu
                <small>Về CloudVis</small>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            <li class="active">
              <a href="javascript:void(0);">
                Chương Trình Đại Lý
                <small>Chính sách đại lý</small>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            <li>
              <a href="{{site.url}}/lien-he">
                Liên Hệ
                <small>Cùng nhau hợp tác</small>
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-9">
        <h3 class="title-divider">
          <span>Chương Trình Đại Lý</span>
        </h3>

        <p>Bạn muốn mở rộng kinh doanh & trở thành nhà cung cấp dịch vụ điện toán đám mây?</p>

        <p>Với chiết khấu dịch vụ cao và bạn không cần: </p>
        <ul>
          <li>Đầu tư cơ sở hạ tầng</li>
          <li>Công cụ quản lý dịch vụ cho khách hàng</li>
          <li>Đội ngũ hỗ trợ</li>
        </ul>
        <p>Hãy cùng nhau hợp tác, chúng tôi sẽ cung cấp cho bạn:</p>

        <div class="row">

          <div class="col-md-4 col-lg-4">
            <h4 class="title-divider">
              <span>Reseller Portal</span>
            </h4>

            <p><i class="fa fa-arrow-circle-o-right"></i> Chủ động thiết lập giá dịch vụ</p>

            <p><i class="fa fa-arrow-circle-o-right"></i> Tích hợp hệ thống thanh toán & billing</p>

            <p><i class="fa fa-arrow-circle-o-right"></i> Toàn quyền quản lý tài khoản khách hàng</p>
          </div>
          <div class="col-md-4 col-lg-4">
            <h4 class="title-divider">
              <span>Cloud Portal</span>
            </h4>

            <p><i class="fa fa-arrow-circle-o-right"></i> Hệ thống đăng ký dịch vụ dành cho khách hàng</p>

            <p><i class="fa fa-arrow-circle-o-right"></i> Tích hợp hệ thống thanh toán</p>

            <p><i class="fa fa-arrow-circle-o-right"></i> Tên miền riêng (vd: cp.tencongty.com)</p>

          </div>
          <div class="col-md-4 col-lg-4">
            <h4 class="title-divider">
              <span>Hỗ Trợ Kỹ Thuật</span>
            </h4>

            <p><i class="fa fa-arrow-circle-o-right"></i> <a href="http://support.cloudvis.vn">Hệ thống ticket</a></p>

            <p><i class="fa fa-arrow-circle-o-right"></i> Email:
              <a href="mailto:support@cloudvis.vn">support@cloudvis.vn</a></p>

            <p><i class="fa fa-arrow-circle-o-right"></i> Điện thoại: 1800 1765</p>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-8">
            <div class="well well-sm text-center">
              <h4 class="inline-el pad-left muted">
                Trở thành nhà cung cấp điện toán đám mây trong vài phút
              </h4>
              <br/>
              <a href="{{site.url}}/lien-he" class="btn btn-primary btn-lg">Đăng Ký Đại Lý
                <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            {% include contact.html%}
          </div>

        </div>

      </div>

    </div>

  </div>
</div>