---
layout: default
title: Cam kết dịch vụ
permalink: /cam-ket-dich-vu/
redirect_from:
  - /service-level-agreement/cam-ket-dich-vu/
  - /service-level-agreement/
  - /service_level_agreement/
---

<div id="content" class="clearfix">
  <div class="container">
    <h3 class="title-divider">
      <span>Cam kết dịch vụ</span>
    </h3>
    <p>Lựa chọn nhà cung cấp Điện Toán Đám Mây không bao giờ là điều dễ dàng và thường chứa đựng những rủi ro. Chúng tôi hiểu rằng việc kinh doanh của bạn phụ thuộc vào thời gian hoạt động của các dịch vụ trên nền Điện Toán Đám Mây. Chính vì lý do này chúng tôi đã xây dựng cam kết mức độ dịch vụ (Service Level Agreement - SLA) chặt chẽ nhất nhằm đảm bảo thời gian hoạt động tối đa cho các dịch vụ của bạn với chúng tôi.</p>

    <p>SLA là bản cam kết giữa CloudVis và bạn (khách hàng của CloudVis). SLA quy định trách nhiệm và chính sách hoàn tiền của chúng tôi trong trường hợp chúng tôi không đáp ứng được những cam kết này. Chúng tôi muốn các khách hàng cảm thấy an tâm và quyết định dễ dàng trong việc sử dụng các dịch vụ với chúng tôi.</p>

    <p>Các điều khoản cam kết của SLA bao gồm:</p>
    <ol class="number">
      <li>
        <h5>Thời gian hoạt động của máy chủ ảo</h5>

        <p>Chúng tôi cam kết các máy chủ ảo có thời gian hoạt động là 99.5% trong tháng không tính thời gian bảo trì và được giám sát bởi hệ thống của chúng tôi. Chỉ những vấn đề phát sinh từ phía chúng tôi như: hư hỏng thiết bị phần cứng, thiết bị mạng, ổ cứng và nguồn điện mới được coi là lỗi từ chúng tôi. Các vấn đề khác liên quan đến việc quản lý máy chủ ảo cũng như các phần mềm chạy bên trong máy chủ ảo được xem là lỗi của khách hàng và không được xem xét đến trong cam kết.
        </p>

        <p><strong>CloudVis cam kết</strong>: Chúng tôi sẽ hoàn tiền 5% phí hàng tháng cho 30 phút máy chủ ảo không hoạt động và tổng số tiền hoàn lại không quá 100% tiền phí trong 1 tháng của máy chủ ảo bị ảnh hưởng.</p>
      </li>
      <li>
        <h5>100% Network Uptime</h5>

        <p>Chúng tôi cam kết cơ sở hạ tầng mạng của chúng tôi hoạt động 100% trong tháng không tính thời gian bảo trì </p>

        <p>
          <strong>CloudVis cam kết</strong>: Chúng tôi sẽ hoàn tiền 5% phí hàng tháng cho 30 phút hạ tầng mạng không hoạt động và tổng số tiền hoàn lại không quá 100% tiền phí trong 1 tháng của máy chủ ảo bị ảnh hưởng.</p>
      </li>
      <li>
        <h5>Cân bằng tải (Load Balancing)</h5>

        <p>Chúng tôi cam kết thiết bị cân bằng tải hoạt động 99.5% trong tháng không tính thời gian bảo trì.</p>
        <p><strong>CloudVis cam kết</strong>: Chúng tôi sẽ hoàn tiền 5% phí hàng tháng cho 30 phút thiết bị cân bằng tải không hoạt động và tổng số tiền hoàn lại không quá 100% tiền phí trong 1 tháng của các máy chủ ảo bị ảnh hưởng.</p>
      </li>
      <li>
        <h5>Virtual Private Cloud (VPC)</h5>

        <p>Chúng tôi cam kết VPC hoạt động 99.5% trong tháng không tính thời gian bảo trì. Những thành phần sau được áp dụng cam kết trong VPC: </p>
        <ul>
          <li>
            Internet Gateway
          </li>
          <li>
            Virtual Private Network (VPN)
          </li>
        </ul>
        <br>
        <p><strong>CloudVis cam kết</strong>: Chúng tôi sẽ hoàn tiền 5% phí hàng tháng cho 30 phút VPC không hoạt động và tổng số tiền hoàn lại không quá 100% tiền phí trong 1 tháng của máy chủ ảo bị ảnh hưởng.</p>
      </li>
      <li>
        <h5>Support Response Time</h5>
        <ul>
          <li>
            <p>Trường hợp khẩn cấp - 30 phút</p>
            <p>Những trường hợp sau được xem là khẩn cấp:</p>
            <ul>
              <li>Máy chủ ảo không hoạt động</li>
              <li>Mạng bị ngắt kết nối</li>


            </ul>
          </li>
          <li>Các trường hợp khác - 120 phút</li>
        </ul>
      </li>
      <li>
        <h5>Hỗ trợ 24x7x365</h5>

        <p>Đội ngũ hỗ trợ của CloudVis hoạt động 24 giờ/ngày và tất cả các ngày trong năm. Khách hàng có thể liên lạc yêu cầu hỗ trợ thông qua điện thoại hoặc hệ thống phiếu hỗ trợ.</p>
      </li>
    </ol>
  </div>

</div>