---
layout: default
title: Thỏa thuận sử dụng dịch vụ
permalink: /thoa-thuan-su-dung-dich-vu/
redirect_from:
  - /terms-of-service/
  - /term-of-services/thoa-thuan-su-dung-dich-vu/
---

<div id="content">
  <div class="container">
    <h3 class="title-divider">
      <span>Thỏa thuận sử dụng dịch vụ</span>
    </h3>

    <p>Trong điều khoản này, "Chúng tôi" được hiểu là CloudVis và "bạn" được hiểu là Khách hàng, đối tượng sử dụng dịch
      vụ của chúng tôi.</p>
    <ol class="number">
      <li>
        <h5>Thuật ngữ</h5>
        <ul class="unstyled">
          <li>
            <p><strong>SLA</strong>: bản cam kết sử dụng dịch vụ</p>
          </li>
        </ul>
      </li>
      <li>
        <h5>Giới hạn sử dụng</h5>

        <p>BẠN KHÔNG ĐƯỢC PHÉP SỬ DỤNG DỊCH VỤ CỦA CHÚNG TÔI CHO MỤC ĐÍCH TRÁI VỚI PHÁP LUẬT HOẶC VI PHẠM NHỮNG MỤC
          TRONG ĐIỀU KHOẢN SỬ DỤNG DỊCH VỤ NÀY.</p>
      </li>
      <li>
        <h5>Truy cập dịch vụ</h5>

        <p>Bạn có thể truy cập sử dụng dịch vụ thông qua ứng dụng tại địa chỉ
          <a href="https://my.cloudvis.vn">https://my.cloudvis.vn</a> hoặc API tích hợp.</p>
      </li>
      <li>
        <h5>Cam kết mức độ dịch vụ (Service Level Agreement - SLA)</h5>

        <p>CloudVis cung cấp các điều khoản SLA quy định nghĩa vụ của chúng tôi đối với bạn. Chi tiết các điều khoản xem
          tại <a href="{{site.url}}/cam-ket-dich-vu">{{site.url}}/cam-ket-dich-vu</a>.</p>
      </li>
      <li>
        <h5>Chu kỳ thanh toán</h5>

        <p>
              Bạn có thể chọn hình thức trả trước theo chu kỳ thanh toán 1 tháng, 3 tháng, 6 tháng và 1 năm khi đăng ký
              dịch vụ. Chúng tôi có thể yêu cầu bạn thanh toán thêm hoặc hoàn trả tiền trong trường hợp nâng cấp/hạ cấp
              dịch vụ. Các dịch vụ trả trước sẽ tự động gia hạn vào cuối chu kỳ thanh toán.
            </p>
        <p>Bạn sẽ nhận được hóa đơn thanh toán trước 3 ngày trước khi dịch vụ hết hạn.
          </p>

        <p>Bạn có thể thanh toán hóa đơn theo các hình thức:</p>
        <ul>
          <li>
            Trực tiếp tại văn phòng công ty
          </li>
          <li>
            Chuyển khoản qua ngân hàng
          </li>
          <li>Thanh toán trực tuyến thông qua các cổng thanh toán điện tử.</li>
        </ul>
      </li>
      <li>
        <h5>Tạm ngưng cung cấp dịch vụ</h5>

        <p>Chúng tôi có thể tạm ngưng cung cấp dịch vụ của bạn trong các trường hợp sau:</p>
        <ul>
          <li>
            Chúng tôi có lý do tin rằng dịch vụ bạn đang sử dụng vi phạm các mục trong điều khoản này.
          </li>
          <li>Bạn là người đã sử dụng dịch vụ bất hợp pháp trước đó.</li>
          <li>Bạn không thanh toán hóa đơn đúng hạn: 3 ngày sau ngày hết hạn dịch vụ.
          </li>
        </ul>
        <br>

        <p>Chúng tôi sẽ thông báo cho bạn trước 24 giờ trước khi ngưng cung cấp dịch vụ.</p>
      </li>
      <li>
        <h5>Kết thúc sử dụng dịch vụ</h5>

        <p>Bạn có thể ngưng sử dụng dịch vụ bất cứ khi nào. Thanh toán sau khi kết thúc sử dụng dịch vụ được tính như
          sau:
        </p>
        <ul>
          <li>
            <p>Phí dịch vụ sẽ được tính từ ngày khởi tạo (hoặc ngày gia hạn) đến ngày kết thúc dịch
              vụ. Chúng tôi sẽ hoàn trả 100% phí còn lại của dịch vụ.
            </p></li>
        </ul>
      </li>
      <li>
        <h5>Tính sẵn sàng của dịch vụ</h5>

        <p>Thời gian cam kết hoạt động của dịch vụ được quy định trong SLA trừ những trường hợp sau:</p>
        <ul>
          <li>Bạn sử dụng dịch vụ không đúng cách</li>
          <li>Lỗi do các phần mềm chạy bên trong các máy chủ ảo</li>
          <li>Bảo trì hệ thống, chúng tôi sẽ thông báo trước 24 giờ trước khi tiến hành bảo trì</li>
          <li>Bạn vi phạm điều khoản sử dụng</li>
          <li>Những yếu tố ngoài sự kiểm soát của chúng tôi, bao gồm nhưng không phải là tất cả: thiên tai, lũ lụt, hỏa
            hoạn,...hoặc từ nhà cung cấp trực tiếp của chúng tôi
          </li>
          <li>Các hành vi phá hoại từ bên thứ ba như: tấn công từ chối dịch vụ, virus,...
          </li>
          <li>Sự can thiệp của pháp luật</li>
        </ul>
      </li>
      <li>
        <h5>Dữ liệu khách hàng</h5>

        <p>Chúng tôi cố gắng đảm bảo an toàn dữ liệu của bạn. Tuy nhiên bạn phải hiểu rằng bạn là người duy nhất chịu
          trách nhiệm bảo vệ và sao lưu dữ liệu của mình. Chúng tôi khuyên bạn nên:</p>
        <ul>
          <li>Sử dụng công nghệ mã hóa để bảo vệ dữ liệu của bạn</li>
          <li>Thường xuyên sao lưu dữ liệu</li>
        </ul>
        <p>Chúng tôi không chịu bất cứ trách nhiệm pháp lý nào trong trường hợp mất mát, hư hỏng dữ liệu.</p>
      </li>
      <li>
        <h5>Tính riêng tư của dữ liệu</h5>

        <p>Chúng tôi đảm bảo rằng chỉ có mình bạn mới có thể truy cập đến dữ liệu của mình. Tuy nhiên chúng tôi sẽ cung
          cấp dữ liệu của bạn trong trường hợp có yêu cầu từ tòa án hợp pháp liên quan. Chúng tôi sẽ thông báo cho bạn
          trước 24 giờ trước khi cung cấp dữ liệu .</p>
      </li>
      <li>
        <h5>Sửa đổi điều khoản dịch vụ</h5>

        <p>Chúng tôi có quyền sửa đổi điều khoản dịch vụ này bất cứ khi nào. Bản có hiệu lực sẽ là bản trên website
          này.</p>
      </li>
    </ol>
  </div>

</div>