<h3 class="title-divider">
    <span>Cần hỗ trợ ?</span>
    <small>Bạn cần tư vấn về dịch vụ ?</small>
</h3>
<p>
    <abbr title="Ch"><i class="fa fa-comments-o"></i></abbr>
    <a onclick="$zopim.livechat.window.show();;return false;" href="javascript:void(0)">Live Chat</a>
</p>
<p>
    <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
    1800.1765 (Miễn phí)
</p>

<p>
    <abbr title="Email"><i class="fa fa-envelope"></i></abbr>
    sales@cloudvis.vn
</p>

<p>
    <abbr title="Address"><i class="fa fa-home"></i></abbr>
    27, Hoa Đào, Phường 2, Quận Phú Nhuận, TPHCM
</p>

<script>
    $('#submit-call-btn').click(function () {
        var btn = $(this)
        btn.button('loading')
    });
</script>
