<div class="row">
    <div class="col-md-10">
        <div class="row well">
            <div class="col-md-2 col-lg-2">
                <strong style="vertical-align: middle;">CPU & RAM</strong>
            </div>
            <div class="col-md-10 col-lg-10">
                <div style="margin-bottom: 15px">
                    <input type="text" class="col-md-12 col-lg-12" id="slider01">
                </div>
            </div>
        </div>
        <div class="row well">
            <div class="col-md-2 col-lg-2">
                <strong style="vertical-align: middle;">HDD (GB)</strong>
            </div>
            <div class="col-md-10 col-lg-10">
                <div style="margin-bottom: 15px">
                    <input type="text" class="col-md-12 col-lg-12" id="slider02">
                </div>
            </div>
        </div>
        <div class="row well">
            <div class="col-md-2 col-lg-2">
                <strong style="vertical-align: middle;">IP Tĩnh</strong>
            </div>
            <div class="col-md-10 col-lg-10">
                <input id="ip_address" type="checkbox" data-toggle="switch" checked data-on-color="danger">
            </div>
        </div>

        <div class="block-item">
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo Ngay</a>
        </div>
    </div>
    <div class="col-md-2">

        <div class="config-item">
            <span class="config-name">CPU</span>
            <span id="config_cpu" class="config-value">1</span>
        </div>
        <div class="config-item">
            <span class="config-name">Memory</span>
            <span id="config_mem" class="config-value">512 MB</span>
        </div>
        <div class="config-item">
            <span class="config-name">HDD</span>
            <span id="config_hdd" class="config-value">10 GB</span>
        </div>
        <div class="config-item">
            <span class="config-name">IP Tĩnh</span>
            <span class="config-value" id="config_ip">1</span>
        </div>
        <div class="config-item">
            <span class="config-name">Bandwidth</span>
            <span class="config-value">Unlimited</span>
        </div>
        <div class="config-item">
            <span id="config_server" class="config-name">Giá/Tháng</span>
            <span class="config-value" id="price">140.000</span>
        </div>
    </div>
</div>