<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/all.css" | prepend: site.baseurl }}">
    <script data-main="js/index" src="/js/jquery.js"></script>
    <script data-main="js/index" src="/js/jquery.clingify.js"></script>
    <script data-main="js/index" src="/js/bootstrap.js"></script>
    <script data-main="js/index" src="/js/bootstrap-hover-dropdown.js"></script>
    <script data-main="js/index" src="/js/bootstrap-slider.js"></script>
    <script data-main="js/index" src="/js/bootstrap-switch.min.js"></script>
    <script data-main="js/index" src="/js/jquery.number.js"></script>
    <script data-main="js/index" src="/js/script.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
</head>
