
<p class="pull-right low-end"><a class="view_more" href="javascript:void(0);">Bạn cần cấu hình cao hơn?</a></p>

<div class="clearfix"></div>
<div class="row pricing-stack margin-top-lg low-end">
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 512MB</span>
            </h3>

            <p class="price">
                <span class="digits">147.000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>1 CPU Core</li>
                <li>512 MB RAM</li>
                <li>10GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 1GB</span>
            </h3>

            <p class="price">
                <span class="digits">265.000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>1 CPU Core</li>
                <li>1GB RAM</li>
                <li>20GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 2GB</span>
            </h3>

            <p class="price">
                <span class="digits">500.000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>2 CPU Core</li>
                <li>2GB RAM</li>
                <li>40GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 4GB</span>
            </h3>

            <p class="price">
                <span class="digits">970.000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>4 CPU Core</li>
                <li>4GB RAM</li>
                <li>80GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>


</div>

<p class="pull-right low-end"><a class="view_more" href="javascript:void(0);">Bạn cần cấu hình cao hơn?</a></p>

<div class="clearfix"></div>

<p class="pull-right high-end"><a class="view_less" href="javascript:void(0);">Bạn cần cấu hình thấp hơn?</a></p>

<div class="clearfix"></div>
<div class="row pricing-stack margin-top-lg high-end" style="display:none;">
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 8GB</span>
            </h3>

            <p class="price">
                <span class="digits">1.910.000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>6 CPU Core</li>
                <li>8GB RAM</li>
                <li>160GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 16GB</span>
            </h3>

            <p class="price">
                <span class="digits">3.790.000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>8 CPU Core</li>
                <li>16GB RAM</li>
                <li>320GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 32GB</span>
            </h3>

            <p class="price">
                <span class="digits">7,550,000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>12 CPU Core</li>
                <li>32GB RAM</li>
                <li>640GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well active">
            <h3 class="title">
                <span class="em">CS 48GB</span>
            </h3>
            <p class="price">
                <span class="digits">14,230,000</span>
                <span class="term">/tháng</span>
            </p>
            <ul class="unstyled points">
                <li>16 CPU Core</li>
                <li>48GB RAM</li>
                <li>1000GB SAN</li>
                <li>Unlimited Bandwidth</li>
                <li>Network VN - 100Mbs</li>
                <li>Network QT - 10Mbs</li>
                <li>1 IP Tĩnh</li>
            </ul>
            <a class="btn btn-primary" href="http://my.cloudvis.vn/sign_up">Khởi Tạo</a>
        </div>
    </div>
</div>

<p class="pull-right high-end"><a class="view_less" href="javascript:void(0);">Bạn cần cấu hình thấp hơn?</a></p>

