---
layout: default
title: Cloud Server | Cloud VPS | Máy chủ ảo
permalink: /cloud-server/may-chu-ao/
redirect_from:
- /products/cloud-servers/may-chu-ao/
- /cloud-hosting/cloud-servers/cloud-vps/may-chu-ao/
- /cloud-hosting/cloud-servers/
- /may-chu-ao-gia-re/
- /vps-gia-re/
- /thue-vps/
- /thue-may-chu-ao/
---

<div id="content">
<div class="container">
<div class="row">
    <div class="col-md-6 col-lg-6">
        <h1 class="title-divider">
            <span>Cloud Server - Máy chủ ảo</span>
        </h1>
        Cloud Server (Cloud VPS) là giải pháp máy chủ ảo trên nền điện toán đám mây. Với Cloud Server, bạn hoàn toàn chủ
        động việc quản trị & cài đặt các ứng dụng cần thiết theo nhu cầu.
    </div>
    <div class="col-md-6 col-lg-6">
        <img src="/img/cloud_server.jpg">
    </div>
</div>
<div class="block features">
    <h3 class="title-divider">
        <span>Tính Năng <span class="de-em">Nổi Bật</span></span>
        <small></small>
    </h3>
    <div class="row">
        <div class="feature col-sm-6 col-md-4 block-item">
            <a href="javascript:void(0);">
                <img src="/img/ha.png" alt="Tính sẵn sàng cao" class="img-responsive">
            </a>

            <h3 class="title">
                <a href="javascript:void(0);">Tính sẵn sàng cao</a>
            </h3>

            <p>Áp dụng kiến trúc cụm máy chủ (cluster-based architecture) và lưu trữ SAN (Storage Area Network) nên khi
                một
                máy chủ vật lý ngưng hoạt động thì Cloud Server sẽ được chuyển một máy chủ vật lý đang hoạt động
                khác.</p>
        </div>
        <div class="feature col-sm-6 col-md-4 block-item">
            <a href="javascript:void(0);">
                <img src="/img/virtualization.png" alt="Công nghệ ảo hóa" class="img-responsive">
            </a>

            <h3 class="title">
                <a href="javascript:void(0);">Công nghệ ảo hóa</a>
            </h3>

            <p>KVM (Kernel Virtual Machine) - Công nghệ ảo hóa tiên tiến nhất hiện nay sẽ cung cấp cho bạn 1 nền tảng ảo
                hóa
                mạnh mẽ & ổn định. Bên cạnh đó chúng tôi cam kết cấp 100% tài nguyên thật giúp đảm bảo tốc độ cao nhất
                cho các
                Cloud Server.</p>
        </div>
        <div class="feature col-sm-6 col-md-4 block-item">
            <a href="javascript:void(0);">
                <img src="/img/ui.png" alt="Giao diện thân thiện" class="img-responsive">
            </a>

            <h3 class="title">
                <a href="javascript:void(0);">Giao diện thân thiện</a>
            </h3>

            <p>Quản lý và giám sát máy chủ ảo thông qua giao diện web trực quan, chuyên nghiệp. Tất cả những thao tác
                quản trị
                đều được đơn giản hóa thông qua vài click chuột. <a href="http://youtu.be/uyudTR3nTBs" target="_blank">Cơ
                    chế bảo mật 2 lớp</a> giúp bảo mật tối đa tài khoản của bạn.</p>
        </div>
    </div>
</div>
<div class="block features">
    <div class="row">
        <div class="col-md-9">

            <div class="tabbable tabs-left vertical-tabs bold-tabs row">
                <ul class="nav nav-tabs nav-stacked col-sm-4 col-md-4">
                    <li class="active">
                        <a href="#firewall" data-toggle="tab">
                            Bảo mật
                            <small>Tùy chọn cấu hình tường lửa</small>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#snapshot" data-toggle="tab">
                            Snapshot
                            <small>Sao lưu dữ liệu nhanh chóng</small>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#upgrade" data-toggle="tab">
                            Nâng cấp dễ dàng
                            <small>Tăng giảm tài nguyên máy chủ</small>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#os" data-toggle="tab">
                            Hệ điều hành
                            <small>Hỗ trợ nhiều HĐH khác nhau</small>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#support" data-toggle="tab">
                            Hỗ trợ
                            <small>24/7 qua hệ thống ticket</small>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#sla" data-toggle="tab">
                            99.9% Uptime
                            <small>Cam kết dịch vụ</small>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#payment" data-toggle="tab">
                            Thanh toán
                            <small>Chu kỳ thanh toán linh động</small>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content col-sm-8 col-md-8">
                    <div class="feature tab-pane col-sm-12 col-md-12 active" id="firewall">
                        <img src="/img/secure.png" alt="Cloud Server - Máy chủ ảo - Bảo mật" class="img-responsive"
                             style="width: 80px">

                        <h3 class="title visible-phone">
                            Bảo mật
                        </h3>

                        <p>Mỗi máy chủ của bạn điều được cung cấp một tường lửa, bạn có thể cấu hình cho phép hoặc ngăn
                            chặn gói tin
                            đi ra và đi vào.</p>
                    </div>
                    <div class="feature tab-pane col-sm-12 col-md-12" id="snapshot">
                        <img src="/img/snapshot.png" alt="Feature 2" class="img-responsive">

                        <h3 class="title visible-phone">
                            Snapshot
                        </h3>

                        <p>Snapshot là cơ chế sao lưu toàn bộ dữ liệu của đĩa cứng một cách nhanh chóng & an toàn. </p>

                        <p>Snapshot lưu trên một hệ thống lưu trữ riêng biệt với hệ thống máy chủ ảo. Vì vậy bạn
                            có thể hoàn toàn yên tâm với dữ liệu của mình.</p>
                    </div>
                    <div class="feature tab-pane col-sm-12 col-md-12" id="upgrade">
                        <img src="/img/scale.png" alt="Cloud Server - Máy chủ ảo - Scale" class="img-responsive">

                        <h3 class="title visible-phone">
                            Nâng cấp dễ dàng
                        </h3>

                        <p>Bạn muốn nâng cấp hoặc hạ cấp cấu hình máy chủ ảo, điều này rất dễ dàng, chỉ cần vài click
                            chuột.</p>
                    </div>
                    <div class="feature tab-pane col-sm-12 col-md-12" id="os">
                        <img src="/img/os.png" alt="Hệ Điều Hành" class="img-responsive">

                        <h3 class="title visible-phone">
                            Hệ điều hành
                        </h3>

                        <p>Cloud Server hỗ trợ nhiều hệ điều hành khác nhau. Do đó bạn có thể tùy chọn hệ điều hành phù
                            hợp với nhu cầu của mình.</p>

                        <div class="row">
                            <div class="col-md-3">
                                <img src="/img/centos.png" style="min-width: 50px; width: 100px">

                                <p style="text-align: center"><strong>CentOS</strong></p>
                            </div>
                            <div class="col-md-3">
                                <img src="/img/ubuntu.png" style="min-width: 50px; width: 100px">

                                <p style="text-align: center"><strong>Ubuntu</strong></p>
                            </div>
                            <div class="col-md-3">
                                <img src="/img/debian.png" style="min-width: 50px; width: 80px">

                                <p style="text-align: center"><strong>Debian</strong></p>
                            </div>
                            <div class="col-md-3">
                                <img src="/img/windows.png" style="min-width: 50px; width: 100px">

                                <p style="text-align: center"><strong>Windows</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                    <div class="feature tab-pane col-sm-12 col-md-12" id="support">
                        <img src="/img/support.png" alt="Cloud Hosting - Support" class="img-responsive">

                        <h3 class="title visible-phone">
                            Hỗ trợ
                        </h3>

                        <p>Chúng tôi có nhiều kinh nghiệm trong việc quản lý máy chủ. Mọi thắc mắc hoặc sự cố của bạn sẽ
                            được chúng
                            tôi giải quyết trong thời gian sớm nhất.</p>

                        <p>Chúng tôi cung cấp các kênh hỗ trợ sau:</p>
                        <ul>
                            <li>
                                Hệ thống phiếu hỗ trợ: <a target="_blank" href="http://tickets.cloudvis.vn">tickets.cloudvis.vn</a>
                            </li>
                            <li>Email: <a href="mailto:support@cloudvis.vn">support@cloudvis.vn</a></li>
                            <li>Kho kiến thức: <a target="_blank" href="http://kb.cloudvis.vn">kb.cloudvis.vn</a></li>
                        </ul>
                    </div>
                    <div class="feature tab-pane col-sm-12 col-md-12" id="sla">
                        <img src="/img/uptime.png" alt="Cloud Hosting - Service Level Agreement" class="img-responsive">

                        <h3 class="title visible-phone">
                            99.9% UPTIME
                        </h3>

                        <p>
                            Cam kết 99.9% uptime cho dịch vụ. Bạn sẽ được hoàn tiền trong trường hợp chúng tôi không đáp
                            ứng được cam
                            kết.
                        </p>
                    </div>
                    <div class="feature tab-pane col-sm-12 col-md-12" id="payment">
                        <img src="/img/payment.png" alt="Feature 4" class="img-responsive">

                        <h3 class="title visible-phone">
                            Thanh toán linh động
                        </h3>

                        <p>Chúng tôi linh động trong việc thanh toán dịch vụ. Bạn có thể chọn chu kỳ thanh toán: 1
                            tháng, 3 tháng, 6
                            tháng và 12 tháng.</p>

                        <p>Bạn có thể sử dụng hình thức thanh toán:</p>
                        <ul>
                            <li>Chuyển khoản trực tiếp qua ngân hàng</li>
                            <li>Cổng thanh toán trực tuyến: Ngân Lượng, OnePay và Paypal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact block-->
        <div class="col-md-3">
            {% include contact.html %}
        </div>
    </div>
</div>
<h2 class="title-divider">
    <span>Bảng Giá</span>
    <small>Cấu hình phong phú cho bạn lựa chọn.</small>
</h2>

<ul class="nav nav-tabs">
  <li class="active"><a href="#custom" data-toggle="tab">Tùy chọn cấu hình</a></li>
  <li><a href="#standard" data-toggle="tab">Cấu hình chuẩn</a></li>
</ul>
<div id="pricing" class="tab-content">
  <div class="tab-pane fade active in" id="custom">
    {% include custom_price.html %}
  </div>
  <div class="tab-pane fade" id="standard">
    {% include price_table.html %}
  </div>
</div>

<p><i> Giá trên chưa bao gồm 10% VAT</i></p>
<p><i> Miễn phí 1 tháng khi thanh toán 6 tháng</i></p>
<p><i> Miễn phí 2 tháng khi thanh toán 12 tháng</i></p>

</div>
</div>
<script type="text/javascript">
    var serverTypes = {
        "1": {
            name: "CS 512",
            cpu: "1",
            memory: "512 MB",
            price: 87000
        },
        "2": {
            name: "CS 1GB",
            cpu: "1",
            memory: "1 GB",
            price: 175000
        },
        "3": {
            name: "CS 2GB",
            cpu: "2",
            memory: "2 GB",
            price: 350000
        },
        "4": {
            name: "CS 4GB",
            cpu: "4",
            memory: "4 GB",
            price: 700000
        },
        "5": {
            name: "CS 8GB",
            cpu: "6",
            memory: "8 GB",
            price: 1400000
        },
        "6": {
            name: "CS 16GB",
            cpu: "8",
            memory: "16 GB",
            price: 2800000
        },
        "7": {
            name: "CS 32GB",
            cpu: "12",
            memory: "32 GB",
            price: 5600000
        },
        "8": {
            name: "CS 48GB",
            cpu: "16",
            memory: "48 GB",
            price: 11200000
        }
    };

    var serverType = serverTypes["1"], hdd = 10, ip = 1;
    var serverEl = $('#config_server'),
            cpuEl = $('#config_cpu'),
            memEl = $('#config_mem'),
            hddEl = $('#config_hdd'),
            priceEl = $('#price'),
            ipEl = $('#config_ip');

    function calcPrice() {
        var price = 0;
        price += serverType.price + hdd * 3000 + ip * 30000;
        priceEl.html($.number(price));
    }

    $(document).ready(function () {
        calcPrice();

        $('.high-end').hide();
        $('.view_more').click(function () {
            $('.high-end').show();
            $('.low-end').hide();
        });
        $('.view_less').click(function () {
            $('.high-end').hide();
            $('.low-end').show();
        });

        $('#slider01').slider({
            min: 1,
            max: 8,
            selection: 'before',
            value: 1,
            step: 1,
            formater: function (value) {
                return serverTypes[value].name;
            }
        }).on('slideStop', function (ev) {
            serverType = serverTypes[ev.value];
//            serverEl.html(serverType.name);
            cpuEl.html(serverType.cpu);
            memEl.html(serverType.memory);

            calcPrice();
        });

        $('#slider02').slider({
            min: 10,
            max: 1000,
            selection: 'before',
            value: 10,
            step: 10,
            formater: function (value) {
                return value + " GB";
            }
        }).on('slideStop', function (ev) {
            hdd = ev.value;
            hddEl.html(hdd);
            calcPrice();
        });

        jQuery('[data-toggle=switch]').bootstrapSwitch().on('switchChange.bootstrapSwitch', function(event, state) {
            ip = state.value ? 1 : 0;
            ipEl.html(ip);
            calcPrice();
        });
    });
</script>