---
layout: default
---

<div id="content">
<div class="container">
    <h2 class="title-divider">
        <span>CloudVis's log</span>
    </h2>

    <div class="row">
        <div class="col-md-9">
            {{content}}
        </div>

        <!--Sidebar-->
        <div class="col-md-3 sidebar sidebar-right">
            <div class="inner">
                <!-- Follow Widget -->
                <div class="block">
                    <h4 class="title-divider">
                        <span>Follow Us On</span>
                    </h4>
                    <!--@todo: replace with real social media links -->
                    <ul class="list-unstyled social-media-branding">
                        <li>
                            <a target="_blank" href="https://twitter.com/cloudvis" class="social-link branding-twitter"><i class="fa fa-twitter-square fa-fw"></i>
                                Twitter</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://facebook.com/cloudvis" class="social-link branding-facebook"><i
                                    class="fa fa-facebook-square fa-fw"></i> Facebook</a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.linkedin.com/company/cloudvis-technology" class="social-link branding-linkedin"><i
                                    class="fa fa-linkedin-square fa-fw"></i> LinkedIn</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://plus.google.com/+CloudvisVn-Cloud-Hosting?rel=publisher" rel="publisher" class="social-link branding-google-plus"><i
                                    class="fa fa-google-plus-square fa-fw"></i> Google+</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--.container-->
</div>